* {
  box-sizing: border-box;
}
html,
body,
#root,
.mainApp,
.crosswordHolder {
  height: 100%;
}

/* Holder */

.crosswordHolder {
  display: flex;
  justify-content: center;
}

/* Container */

.appContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

/* headers */
.header {
  display: flex;
  background: black;
  justify-content: space-between;
}

.header .drawerButton {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

/* Nav */

.navDrawer {
  background-color: white;
  font-family: serif;
  padding: 30px;
}

.navDrawer .navCrossword {
  cursor: pointer;
  margin-bottom: 10px;
}

.navDrawer .deleteCrossword {
  cursor: pointer;
  color: #999;
}

/* Clue bank */
.clueBank {
  font-family: serif;
  width: 340px;
  max-width: 340px;
  text-align: left;
  margin: 0px;
  border-right: 1px solid black;
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 24px;
}

.clueBank h3 {
  margin-top: 0px;
}

.clueBank .clueActions {
  color: #999;
}

.clueBank .clueActions a {
  cursor: pointer;
}

.clueBank form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clueBank input {
  width: 75%;
  padding: 7px;
  margin-bottom: 2px;
}

.clueBank .answerInput {
  text-transform: uppercase;
}

.clueBank .addClueButton {
  width: 100px;
}

.clueBank ul {
  list-style-type: none;
  padding-left: 0;
}

.clueBank ul li {
  list-style-type: none;
  padding: 8px;
}

.clueBank ul li:nth-child(odd) {
  background-color: #eee;
}

/* Grid */

.gridHolder {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.gridHolder .nameGridHolder {
  display: flex;
  justify-content: center;
}
div.gridHolder .gridOuter:focus {
  /* grid focussed */
  outline: none;
}
.gridHolder .nameGrid {
  font-family: serif;
  border: 0;
  border-bottom: 1px solid grey;
  color: grey;
  font-size: 24px;
  font-style: italic;
}
.gridHolder .nameGrid:focus {
  outline: none;
}

.gridHolder .gridOuter {
  padding-left: 24px;
  padding-right: 24px;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  user-select: none;
  cursor: pointer;
}

.row {
  display: flex;
}

.cell {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.shaded {
  background: black;
}

.cell.focussed {
  border: 2px solid red;
}

.cell .arrow {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.cell .arrow.right {
  left: 100%;
  top: 50%;
  border-width: 8px;
  margin-top: -8px;
  border-left-color: red;
}

.cell .arrow.down {
  top: 100%;
  left: 50%;
  border-width: 8px;
  margin-left: -8px;
  border-top-color: red;
}

.cell .clueNumber {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 12px;
}

.cell .clueNumber {
  font-family: serif;
  font-style: italic;
}

/* Clues */
.cluesHolder {
  font-family: serif;
  width: 100%;
  max-width: 440px;
  text-align: left;
  display: flex;
  padding-top: 24px;
  border-left: 1px solid black;
  padding-left: 24px;
  padding-right: 24px;
  max-height: 100%;
  overflow-y: scroll;
}

.clueList h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.clueList ol {
  padding-left: 24px;
  margin-top: 0px;
}

.clueList .missing {
  color: #ccc;
}

.clueList .spillover {
  font-style: italic;
}

/* Controls */
.gridControls {
  padding-left: 24px;
}

/* suggestions */

.suggestionsBox {
  margin-top: auto;
  border-top: 1px solid black;
  width: 100%;
}

.suggestionsBox .suggestionsControl {
  color: white;
  background-color: black;
  width: 100%;
  padding-left: 24px;
  cursor: pointer;
}

.suggestionsBox .suggestionsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 440px;
  margin: 0 auto;
  overflow: scroll;
  height: 100px;
}

.suggestionsBox .suggestionsList .suggestion {
  display: block;
  font-size: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

.suggestionsBox .suggestionsList .suggestion a {
  cursor: pointer;
}

.suggestionsBox .suggestionsList .suggestion a:hover {
  text-decoration: underline;
}
