* {
  box-sizing: border-box;
}
html,
body,
#root,
.mainApp,
.crosswordHolder {
    height: 100%;
}

/* Holder */

.crosswordHolder {
  display: flex;
  justify-content: center;
}

/* Container */

.appContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* headers */
.header {
  display: flex;
  background: black;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: white;
}


/* Clue bank */
.clueBank {
  font-family: serif;
  min-width: 300px;
  text-align: left;
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.clueBank h3 {
  margin-top: 0px;
}

.clueBank form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clueBank input {
  width: 75%;
  padding: 7px;
  margin-bottom: 2px;
}

.clueBank .answerInput {
  text-transform: uppercase;
}

.clueBank .addClueButton {
  width: 100px;
}

/* Grid */

.gridHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridHolder .nameGridHolder {
  display: flex;
  justify-content: center;
}
div.gridHolder > div > div:nth-child(2):focus { /* grid focussed */
  outline:none;
}
.gridHolder .nameGrid {
  font-family: serif;
  border: 0;
  border-bottom: 1px solid grey;
  color: grey;
  font-size: 24px;
  margin-bottom: 30px;
  font-style: italic;
}
.gridHolder .nameGrid:focus {
  outline:none;
}


.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  user-select: none;
  cursor: pointer;
}

.row {
  display: flex;
}

.cell {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.shaded {
  background: black;
}

.cell.focussed {
  border: 2px solid red;
}

.cell .arrow {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	/*border-color: rgba(136, 183, 213, 0);*/
}

.cell .arrow.right {
  left: 100%;
	top: 50%;
  border-width: 8px;
	margin-top: -8px;
  border-left-color: red;
}

.cell .arrow.down {
  top: 100%;
	left: 50%;
  border-width: 8px;
	margin-left: -8px;
  border-top-color: red;
}

.cell .clueNumber {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 12px;
}

.cell .clueNumber {
  font-family: serif;
  font-style: italic;
}

/* Clues */
.cluesHolder {
  font-family: serif;
  min-width: 300px;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  margin-top: 50px;
}

.clueList h3 {
  margin-top: 0px;
}
