* {
  box-sizing: border-box;
}
html,
body,
#root,
.mainApp,
.crosswordHolder {
    height: 100%;
}

/* Holder */

.crosswordHolder {
  display: flex;
  justify-content: center;
}

/* Container */

.appContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


/* Clue bank */
.clueBank {
  font-family: serif;
  min-width: 300px;
  text-align: left;
}


/* Grid */

.gridHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.shaded {
  background: black;
}

.cell.focussed {
  border: 2px solid red;
}

.cell .clueNumber {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 12px;
}

/* Clues */
.cluesHolder {
  font-family: serif;
  min-width: 300px;
  text-align: left;
  margin-left: 40px;
  display: flex;
  margin-top: 50px;
}

.clueList h3 {
  margin-top: 0px;
}
